.backdrop{
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: all 0.2s linear;
    background-color: rgba(156, 156, 156, 0.521);
}

.card{
    /* z-index:2; */
    background: white;
    width: 350px;
    border-radius: 5px;
    margin-top: 15vh;
}