.share {
    cursor: pointer;
    color: #07e2b3;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    background: white;
    color: gray;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 5px;
    padding: 0 35px;
    margin: 10px 0;
}

.btn button:hover {
    background: rgb(236, 236, 236);
}

.backdrop {
    position: absolute;
    background: rgba(156, 156, 156, 0.521);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.share-container {
    z-index: 3;
    position: fixed;
    top: 100px;
    /* right: 5vw; */
    transition: 1s ease-in-out;
}

.header, .paid {
    background: #07e2b3;
    color: white;
}