.dashboard {
    display: flex;
    justify-content: center;
}

.header {
    width: 50vw;
    height: 100vh;
    box-shadow: 0 0 10px 2px grey;
}

.expenseheader {
    padding: 20px;
    background: rgba(236, 236, 236, 0.836);
}

.head, .owe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    justify-content: space-between;
}

.owe{
    padding: 10px 20px;
    color: grey;
    font-weight: 500;
}

.expense{
    display: flex;
    width: 100%;
}
