.App {
    display: flex;
    justify-content: center;
}

.container {
    width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.activity {
    width: 540px;
    text-align: center;
    border: 1px solid black;
}

.leftPanel {
    width: 135px;
    text-align: center;
    border: 1px solid black;
}

.rightPanel {
    width: 135px;
    text-align: center;
    border: 1px solid black;
}

.activityHead {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: left;
    padding: 10px;
    background-color: rgb(216, 214, 214);
}

.activityBlock {
  width: 100%;
  height: 80px;
  border: 1px solid black;
}

.activityBlock:hover {
  background-color: rgb(246, 244, 244);
}