.App {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0% 5px;
}

body {
    margin-top: 0%;
}

.container {
    width: 1000px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.centerPanel {
    width: 600px;
    text-align: center;
    box-shadow: 0 0 5px 2px gray;
}

.leftPanel {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.left-links {
    width: 180px;
    padding: 10px;
    text-decoration: none;
}

.group-user-tag {
    background-color: rgb(240, 239, 239);
}

.rightPanel {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightPanelHead {
    width: 180px;
    height: 63px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 10px;
    background-color: rgba(236, 236, 236, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayGroupMembers {
    width: 180px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.activityHead {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: left;
    padding: 10px;
    background-color: rgba(236, 236, 236, 0.836);
}

.groupHead {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: left;
    padding: 10px;
    background-color: rgba(236, 236, 236, 0.836);
    display: flex;
    justify-content: space-between;
}

.btn-expense {
    cursor: pointer;
    background-color: #ff4000;
    font-size: 14px;
    color: #fff3ef;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-right: 20px;
}

.btn-settle {
    cursor: pointer;
    background-color: #07e2b3;
    font-size: 14px;
    color: #e2fdf7;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.activityBlock {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(175, 173, 173);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.groupBlock {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(175, 173, 173);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.group-display-desc-text {
    padding-left: 10px;
}

.activityText {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.status-amount {
    display: flex;
    flex-direction: row;
}

.date {
    text-align: left;
    color: rgb(184, 187, 186);
    font-size: 80%;
}

.activityBlock:hover,
.groupBlock:hover {
    background-color: rgb(246, 244, 244);
}

.left-links:hover {
    background-color: rgb(233, 231, 231);
}

.users-groups {
    font-size: 80%;
    padding: 10px;
    width: 180px;
    color: grey;
}

.users-groups:hover {
    background-color: rgb(233, 231, 231);
}

.allExpenses {
    display: flex;
    color: #07e2b3;
}

.position-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navLink {
    text-decoration: none;
}

.active {
    color: rgb(255, 255, 255);
    background: rgba(236, 236, 236, 0.836);
    border-left: 8px solid #07e2b3;
    width: 180px;
}

.btn-settle-up {
    background-image: linear-gradient(to right bottom, #07e2b2af, #07e2b3, rgb(166, 249, 255));
    border-radius: 50px;
    color: white;
    border: none;
}
.mobile{
    display: none;
}
@media screen and (max-width:1000px) {
    .container{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .centerPanel {
        min-width: 350px;
    }
    .mobile{
        display: block;
    }
    .lapview{
        display: none;
    }
}
