body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn-expense {
  cursor: pointer;
  background-color: #ff4000;
  font-size: 16px;
  color: #fff3ef;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-right: 20px;
}

.btn-settle {
  cursor: pointer;
  background-color: #07e2b3;
  font-size: 16px;
  color: #e2fdf7;
  border: none;
  border-radius: 5px;
  padding: 8px;
}